.header {

}
.privet {
    font-size: 50px;
    font-weight: 800;
    text-align: center;
}
.block1 {
    height: 100px;
    background-color: green;
    display: flex;
}
.block1-1 {
    height: 100px;
    background-color:  blueviolet; 
    flex: 1 1 50%;
}
.block1-2 {
    height: 100px;
    background-color: yellow;
    flex: 1 1 50%;
} 
.block2 {
    height: 100px;
    background-color: red;
    overflow: hidden;
}
.block3 {
    height: 100px;
    background-color: pink;
}
.block4 {
    height: 100px;
    background-color: orange;
}
.block5 {
    background-color: purple;
}


.header__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.info-header {
}
.info-header__title {


}
.info-header__button {
    margin: 0px 30px 0px 0px;

    
    
}
.info-header__button a{
    font-size: 25px;
    color: white;
background-color: red;
padding: 10px 30px;
border-radius: 10px;
border: 1px solid black;
text-decoration: none;

    

}
.info-header__button a:hover{
    background-color: blue;
}


body{
    position: relative;
}
.popup {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    /* margin-top: auto;
    margin-left: auto; */
    background-color: rgb(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    opacity: 0;
		visibility: hidden;
	transition: all 0.8s ease 0s;


}
.popup.open {
	opacity: 1;
	visibility: visible;
}
.popup._active {
	opacity: 1;
	visibility: visible;
}
.popup.open  .popup__content{
	transform: perspective(600px) translate(0px, 0%) rotateX(0deg); 
	opacity: 1;
}
.popup._active  .popup__content{
	transform: perspective(600px) translate(0px, 0%) rotateX(0deg); 
	opacity: 1;
}


.popup__body {

    position: relative;

    
}
.popup__content {
 

    background-color: white;
    border-radius: 10px;
    padding: 20px;
    
}
.content-popup {
}
.content-popup__close {
    position: absolute;
    right: 15px;
    top: 15px;
    background-color:red;
    cursor: pointer;
}
.content-popup__title {
}
.content-popup__text {
}


.circle {
	width: 80px;
	height: 80px;
	background-color: blue;
	display: block;
	margin-top: 10px;
	border-radius: 100%;
}

.heart {
	display: inline-block;
    position: relative;
    width: 100px;
    height: 90px;
    margin-top: 10px;
}
.heart:before,
.heart:after {
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background: red;
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
       -moz-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
         -o-transform-origin: 0 100%;
            transform-origin: 0 100%;
}
.heart:after {
    left: 0;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
       -moz-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
         -o-transform-origin: 100% 100%;
            transform-origin :100% 100%;
}
.black{
	width: 150px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	background-color: black;
	margin-bottom: 30px;
	margin-top: 30px;
	color: #fff;
}